@import "../bootstrap-sass-3.3.4/assets/stylesheets/bootstrap";
@import "ekko-lightbox";
body{
    font-family: 'AvenirLTStd Roman', 'Muli', sans-serif;
    font-size: 16px;
    color: #898c90;
}

.rr-btn{
    -webkit-border-radius: 18px 19px 19px 18px/19px 19px 18px 18px;
    -moz-border-radius: 18px 19px 19px 18px/19px 19px 18px 18px;
    border-radius: 18px 19px 19px 18px/19px 19px 18px 18px;
    background-color: #fff;
    border: solid 1px #e68c4d;
    background-image: -webkit-linear-gradient(bottom, #f79319, #ffc83f 46%, #fae7bf);
    background-image: -moz-linear-gradient(bottom, #f79319, #ffc83f 46%, #fae7bf);
    background-image: -o-linear-gradient(bottom, #f79319, #ffc83f 46%, #fae7bf);
    background-image: -ms-linear-gradient(bottom, #f79319, #ffc83f 46%, #fae7bf);
    background-image: linear-gradient(to top, #f79319, #ffc83f 46%, #fae7bf);
    color: #484c51;
    text-transform: uppercase;
    font-size: 19px;
}

.read-more{
    font-size: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #36393e;
}

.module-block{
    margin-bottom: 50px;
}

.navbar{
    margin-top: 20px;
}
.nav > li > a{
    padding: 10px 45px;
}
#home-page-banner{
    min-height: 563px;
    margin-top: 105px;
    margin-bottom: 100px;
    position:relative;
    
    .logo{
        margin-top: 0 !important;
        margin-bottom: 43px;
        text-align: center;

        img{
            max-width: 100%;
        }
    }

    .mobile-banner{
        img{
            max-width: 100%;
        }
    }
    .subheading{
        text-align: center;
        font-size: 42px;
        color:#333;
        font-weight: 200;
        line-height: 1.5;
        
        

        span{
            display: block;
            color: #333;
        }

    }

    .play-btn{
        text-align: center;
    }
    

    #home-lg-img{
        position: absolute;
    }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
    #home-page-banner{
        padding-left:370px;
        padding-top: 92px;
        background: url(../images/img-matrix.jpg) left no-repeat;

        .mobile-banner{
            display: none;
        }
        .logo{
            text-align: left;
        }

        .subheading{
            color:#44484e;
            background:none;
            text-align: left;

            span{
                margin-left: 30px;
                color: #898c90;
            }
        }
        .play-btn{
            text-align: left;
        }
        .btn{
            margin-left: 110px;
        }
    }
}

#main-section{
    font-size: 14px;
    color: #36393e;
    font-weight: 300;
    margin-bottom: 100px;

    .page-name{
        color: #36393e;
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    li{
        margin-bottom: 30px;
    }

}

#footer{
    clear:both;
    font-size: 10px;
}


/* PAGE SPECIFIC STYLES */
.contact-form{
    border-left:1px solid #ccc;
    padding: 0 0 100px 30px;
}

/** BOOTSTRAP overrides**/
.media-large{
    > .pull-left{
        margin-right: 52px;
    }
    .media-heading{
        font-size: 21px;
    }

    li{
        margin-bottom: 0 !important;
    }
}
.media-who-its-for{
    > .pull-left{
        margin-right: 63px;
    }
}

.member{
    margin:20px 0;
    font-size: 13px;

    .title{
        font-size: 15px;
        min-height: 63px;
    }
    h5{
        margin-bottom: 0;
    }
    
    li{
        margin-bottom: 0 !important;
    }
}
.row-2{
    .member{
        .title{
            min-height: 33px;
        }
    }
}

.tech-columns{
    margin-top:30px;
}
.tech-column{
    a{
        color: #36393e;
        text-decoration: underline;
        font-size: 15px;
        font-weight: normal;
    }
    .tech-img{
        min-height: 310px;
        img{
            display: block;
        }
    }
    .tech-body{
        min-height: 180px;
    }
    .title{
        font-size: 22px;
    }
}

.module-map{
    margin-bottom: 40px;
    overflow:hidden;
}

.modal-dialog{
    border:2px solid #555;
}